
header {
    text-align: center;
    font-size: 100px;
    color:rgba(255, 255, 255, 0.546);
}


.rules {
    text-align: center;
    color:rgba(255, 255, 255, 0.546);
    font-size: 45px;
}


body {
    background-color: rgb(54, 47, 47); 
}

.userOption {
    color:white;
    text-align: center;
    position: relative; top:30px;
    font-size: 40px;
    
}

img {
    width: 100px;
    height: 100px;
}
.optionButton {
    margin-top: 30px;
    display:flex;
    justify-content: center;
     }
button {
    border-radius: 10px;
    margin: 20px;
    padding: 30px 30px;
    background-color: dimgrey;
    color:white;
}

.round {
    color:white;
    text-align: center;
    font-size: 25px;
}
.scoreInfo {
    padding: 20px;
}

.score {
    color:white;
    text-align: center;
    font-size: 25px;
    margin-top: 60px;
    
}
.scoreParent {
    display: flex;
    justify-content: center;
    margin-top: 30px;
   
}
.playerScore {
    padding-right: 50px;
}
.computerScore {
    padding-left: 30px;
}
#scoreMessage {
    font-size: 80px;
}

#endMessage {
    padding: 30px;
    font-size: 35px;
}

